<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/signup}" method="post"
      th:object="${user}"  onsubmit="return confirmPassword()">
    <div>
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" th:field="*{password}">
    </div>
    <div>
        <label for="password2">비밀번호 확인</label>
        <input type="password" id="password2" name="password2">
    </div>
    <div>
        <label for="nickname">닉네임</label>
        <input type="text" id="nickname" name="nickname" th:field="*{nickname}">
    </div>
    <br>
    <input type="submit" value="회원가입">
</form>
<a th:href="@{/}">메인화면</a>
<script>
    function confirmPassword(){
        const pw = document.querySelector("#password").value;
        const pw2 = document.querySelector("#password2").value;
        if(pw !== pw2){
            alert("비밀번호가 일치하지 않아요");
            return false; // 폼을 post로 제출하는 것을 막는것
        }
        return true;  // 통과하면 submit 실행
    }
</script>
</body>
</html>