<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:unless="${session.loginEmail}==null">
    session 값 확인 : <span>[[${session.loginEmail}]]</span>
</div>
<ul>
    <div th:if="${session.loginEmail}==null">
        <li><a th:href="@{/user/login}">로그인</a></li>
        <li><a th:href="@{/user/signup}">회원가입</a></li>
    </div>
    <div th:if="${session.loginEmail}!=null">
        <li><a th:href="@{/user/logout}">로그아웃</a></li>
        <li><a th:href="@{/user/myInfo}">내 정보 수정</a></li>
        <li><a th:href="@{/user/list}">사용자정보리스트</a></li>
        <li><a th:href="@{list}">멤버리스트 보기</a></li>
    </div>
</ul>
</body>
</html>